body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.container-fluid {
    padding: 30px 5%;
}

#paper {
    background-image: url("../img/paper.jpg");
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#menu {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#color_box {
    background-color: white; /* placeholder */
    border: 1px solid #01010175;
    border-radius: 10px;
}

#brush_size_box {
    background-color: white; /* placeholder */
    border: 1px solid #01010175;
    border-radius: 50%;
    width: 100px; /* placeholder */
    height: 100px; /* placeholder */
}

.c_size_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    height: 32px;
    width: 32px;
}

.c_icon_button {
    cursor: pointer;
}


/* .row {
    border: 1px black solid;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    border: 1px black solid;
} */